<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/icecream.png" alt="">
  </div>
  <div class="headings">
    <h2>Ice Creams</h2>
    <h3>By Abhay</h3>
    <a href="/icecreams" class="btn">View Ice creams</a>
  </div>
</header>


<%- include('partials/footer'); -%>