<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/img1.jpg" alt="ice cream recipe icon">
    <h4>Banana Split</h4>
    <p>Vanilla ice cream, Banana, Chocolate syrup, Whipped cream, Cherries</p>
  </li>
  <li class="recipe">
    <img src="/img2.jpg" alt="ice cream recipe icon">
    <h4>Tropical Paradise</h4>
    <p>Coconut ice cream, Pineapple, Mango, Chopped nuts</p>
  </li>
  <li class="recipe">
    <img src="/img3.jpg" alt="ice cream recipe icon">
    <h4>Peanut Butter Crunch</h4>
    <p>Peanut butter ice cream, Crushed peanuts, Chocolate chunks</p>
  </li>
  <li class="recipe">
    <img src="/img4.jpg" alt="ice cream recipe icon">
    <h4>Mint Chocolate Chip</h4>
    <p>Mint ice cream, Chocolate chips, Chocolate sauce</p>
  </li>
  <li class="recipe">
    <img src="/img5.jpg" alt="ice cream recipe icon">
    <h4>Strawberry Delight</h4>
    <p>Strawberry ice cream, Fresh strawberries, Cream, Wafer cone</p>
  </li>
  <li class="recipe">
    <img src="/img6.jpg" alt="ice cream recipe icon">
    <h4>Cookie Monster</h4>
    <p>Cookies and cream ice cream, Crumbled chocolate cookies</p>
  </li>
</ul>

<%- include('partials/footer'); -%>